rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Allow users to read and write their own data
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /scenarios/{scenarioId} {
        // Allow users to read and write their own scenarios
        allow read, write: if request.auth != null && request.auth.uid == userId;
        // Allow anyone to read public scenarios
        allow read: if resource.data.isPublic == true;
      }
    }
  }
} 